/* CSSコード */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif, 'quicksand';
    font-weight: lighter;
    background-color: #cceefa; /* 全体の背景色 */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    line-height: 2; /* 行間の余白を調整 */
    margin-bottom: 20px; /* 行ごとの余白を追加 */
}

.outer-container {
    width: 100vw;
    background-color: #cceefa; /* 外側の背景色 */
    display: flex;
    justify-content: center;
}

.inner-container {
    width: 90vw;
    background-color: white; /* 内側の背景色 */
    padding: 0 5vw; /* 左右の余白を追加 */
    box-sizing: border-box;
}

.container {
    width: 80vw; /* 内側の幅を80%に設定 */
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    box-sizing: border-box;
}

h1, h2 {
    color: #0c0031;
}

div {
    margin-bottom: 20px; /* 必要に応じて適切な値に調整 */
}

#login {
    text-align: center;
}

input[type="password"] {
    width: 20vw; /* PCの場合の幅を20vwに設定 */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 30vw; /* PCの場合の幅を30vwに設定 */
    background-color: #6dd1f2;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4682b4;
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    max-width: 100%;
}

.sample_h_21 {
    font-size: 1.5em;
    padding: .5em .7em;
    margin-bottom: 2em;
    position: relative;
    background-color: #ace8fc;
    border-left: solid 2em #02688a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #0c0031;
    width: 80vw; /* 幅を90%に固定 */
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.sample_h_21:before {
    position: absolute;
    content: "\f303";
    font-family: "Font Awesome 5 Free";
    padding: 0em;
    font-weight: 900;
    left: -1.5em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #02688a;
    color: #ffffff;
}

.mode-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.mode-buttons button {
    margin: 0 10px;
}

.unit-checkbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.unit-checkbox label {
    display: flex;
    align-items: center; /* 水平に中央揃え */
    gap: 10px; /* トグルスイッチとテキストの間に余白を追加 */
}

/* チェックボックスのカスタムスタイル */
label.toggle-switch:has(input[type="checkbox"]) {
    display: inline-flex;
    --font-size: 16px; /* 基本サイズ お好きなサイズに設定 */
    font-size: var(--font-size);
    line-height: calc(var(--font-size) + 4px);
    align-items: center;
}

label.toggle-switch > input[type="checkbox"] {
    box-sizing: border-box;
    position: relative;
    font-size: 1.4em;
    width: 2em;
    height: 1em;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    background: #AAA; /* オフの色 */
    border-radius: 0.5em;
    box-shadow: 0.3em 0.3em 0.3em 0px rgba(0, 0, 0, 0.6) inset;
    -webkit-tap-highlight-color: transparent;
}

label.toggle-switch > input[type="checkbox"]:checked {
    background: #6dd1f2; /* オンの色 */
}

label.toggle-switch > input[type="checkbox"]::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    left: 0.1em;
    top: 0.1em;
    bottom: 0.1em;
    width: 0.8em;
    background: #FFF;
    border-radius: 0.4em;
    transform: translate(0%, 0%);
    transition: all 0.2s ease-in-out;
    box-shadow: 0.1em 0.1em 0.1em 0px rgba(0, 0, 0, 0.6);
    margin: 0;
}

label.toggle-switch > input[type="checkbox"]:checked::before {
    transform: translate(125%, 0%);
    transition: all 0.2s ease-in-out;
}

label.toggle-switch > input[type="checkbox"]::after {
    box-sizing: border-box;
    position: absolute;
    content: "OFF";
    color: #fff;
    font-size: 0.4em;
    left: 0.5em;
    text-align: right;
    width: calc(100% - 1em);
    top: 50%;
    transform: translate(0, -50%);
}

label.toggle-switch > input[type="checkbox"]:checked::after {
    content: "ON";
    text-align: left;
}

/* 追加するスタイル */
label.toggle-switch .toggle-text {
    font-size: 16px; /* 「問題を選ぶ」ボタンと同じ文字サイズに設定 */
    white-space: nowrap; /* 改行せず一行に設定 */
}

.toggle-section {
    width: 48%;
    margin-bottom: 20px;
}

.menu-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ace8fc; /* 薄い水色 */
    color: #0c0031;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease, color 0.3s;
}

.menu-button:hover {
    background-color: #4682b4; /* 青色 */
    color: #fff;
    cursor: pointer;
}

.checkbox-section {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fafafa;
}

.checkbox-section label {
    display: block;
    margin-bottom: 5px;
}

.error-message {
    color: red;
    font-weight: bold;
}

input:checked + .slider {
    background-color: #4682b4;
}

input:focus + .slider {
    box-shadow: 0 0 1px #6dd1f2;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.toggle-text {
    margin-left: 10px; /* スライダーとテキストの間に余白を追加 */
}

/* タブ切り替え */
.tab-wrap {
    --active-tab-color: #6dd1f2; /*選択したタブの色をここに指定*/
    --tab-gap: 10px; /*タブ間の余白*/
    display: flex;
    flex-wrap: wrap;
    gap: var(--tab-gap);
}

/*タブ(label)のスタイル*/
.tab-label {
    color: #0c0031;
    border-bottom: 1px solid var(--active-tab-color);
    text-align: center;
    padding: .5em 1em;
    order: -1; /*タブを上段に表示する*/
    flex-grow: 1; /*flexアイテムの伸び率を調整*/
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* タブのコンテンツ部分*/
.tab-content {
    width: 100%;
    display: none; /*いったん非表示状態に設定*/
    position: relative;
}

.tab-switch:not(:checked) + .tab-label {
    color: #0c0031; /* 選択されていないときも文字色を維持 */
}

/*選択されていることがわかるように、選択されているタブの色を変える*/
.tab-switch:checked + .tab-label {
    background-color: var(--active-tab-color);
    color: #fff;
}

/*吹き出し部分*/
.tab-switch:checked + .tab-label:after {
    background-color: var(--active-tab-color);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: "";
    height: 10px;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 20px;
}

/* 選択されているタブのコンテンツを表示させる */
.tab-switch:checked + .tab-label + .tab-content {
    display: block;
    margin-top: 1em;
}

/* input（ラジオボタン）は仕組みだけ利用するため非表示 */
.tab-switch {
    display: none;
}

/* 右サイドバーのスタイル */
.RightContent {
    width: 30vw; /* サイドバーの幅を30%に固定 */
    background-color: #d5f1fd; /* ごく薄い水色の背景色 */
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    margin-top: 0; /* タブの下に配置されるようにマージンをリセット */
    position: relative; /* 位置を固定に設定 */
    top: 0px; /* 位置を調整してランダムモード、選択モードの下に配置 */
    right: 8%; /* 画面の右側に配置 */
    height: auto; /* 高さを調整 */
}

/* メインコンテンツとサイドバーを並べるスタイル */
.content-and-sidebar {
    display: flex;
    flex-direction: row; /* 横方向に並べる */
    align-items: flex-start; /* 上端を揃える */
    justify-content: space-between;
}

aside {
    background-color: #e3f7ff; /* ごく薄い水色の背景色 */
    padding: 20px;
    border-radius: 8px; /* 角を丸くする（お好みで） */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 軽い影を追加（お好みで） */
}

/* メインコンテンツのスタイル */
.main-content {
    flex: 1; /* メインコンテンツを残りの幅に合わせる */
    margin-right: 8%; /* サイドバーの幅に合わせてマージンを追加 */
}

.NavigationMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6dd1f2;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tab-label {
    color: white;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.tab-switch:checked + .tab-label + .tab-content {
    display: block;
}

/* アコーディオンスタイル */
.accordion {
    width: 30vw;
    margin-left: 0;
    margin-top: 20px;
    margin-right: auto;
}

.accordion .title {
    padding: 10px;
    height: 30px; /* 高さを調整 */
    cursor: pointer;
    background: #e3f7ff; /* 初期の背景色を薄い水色に設定 */
    border: 1px solid #ddd;
    border-radius: 8px; /* 角を丸くする */
    margin-top: -1px;
    margin-bottom: 0; /* アコーディオン同士の隙間をなくす */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* ホバー時の背景色とボーダー色の変更 */
}

.accordion .title:hover {
    background-color: #b3e5fc; /* ホバー時の色を濃い水色に */
    border-color: #b3e5fc;
}

.accordion .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 0; /* アコーディオン同士の隙間をなくす */
}

.accordion .content-open {
    max-height: 100vh; /* 適切な値に調整 */
    background: #b3e5fc; /* アコーディオンの色を薄くした背景色 */
}

.accordion .content-text {
    padding: 0 18px;
    background: #b3e5fc;
    display: flex;
    flex-direction: column;
    gap: 10px; /* トグルスイッチと名前の間に余白を追加 */
}

.accordion .fa-angle-down {
    font-size: 20px;
    color: #333;
    transition: transform 0.2s ease-out;
}

.accordion .fa {
    transition: transform 0.2s ease-out;
}

.accordion .fa-rotate-180 {
    transform: rotate(180deg);
}

.accordion .toggle-switch {
    display: flex;
    align-items: center; /* トグルスイッチと名前を横並びに */
    gap: 10px; /* スライダーとテキストの間に余白を追加 */
}

/* セレクトボックスのスタイル */
#unit_select {
    width: 20vw; /* セレクトボックスの幅を設定 */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* フォントサイズを指定 */
}

.selection-mode {
    display: flex;
    flex-direction: column;
    gap: 5px; /* 各要素の間に余白を追加 */
}

.selection-mode select,
.selection-mode input,
.selection-mode button {
    width: 20vw; /* セレクトボックス、入力ボックス、ボタンの幅を統一 */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* フォントサイズを指定 */
}


@media (max-width: 600px) {
    body {
        font-size: 14px;
        padding: 0 5%; /* 左右に5%の余白を設定 */
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    .sample_h_21 {
        width: 100%;
        font-size: 1.2em;
    }

    input[type="password"] {
        width: 50vw; /* 携帯の場合の幅を50vwに設定 */
        padding: 8px;
    }

    button {
        width: 50vw; /* 携帯の場合の幅を50vwに設定 */
        padding: 8px;
    }

    .content-and-sidebar {
        display: flex;
        flex-direction: column; /* 縦方向に並べる */
    }

    .accordion {
        width: 60vw; /* 横幅を大きくする */
        margin: auto; /* 中央に配置 */
        margin-top: 20px;
    }

    .main-content {
        order: 1; /* メインコンテンツを先に表示 */
    }

    .RightContent {
        width: 100%; /* 幅を100%に設定 */
        position: relative; /* 位置を相対に設定 */
        top: auto; /* 位置をリセット */
        right: auto; /* 位置をリセット */
        margin-top: 20px; /* 上部に余白を追加 */
    }

    #equation_container,
    #question1,
    #question2,
    #question3,
    #question4 {
        order: 2; /* これらの要素をサイドコンテンツの前に表示 */
    }

    label.toggle-switch:has(input[type="checkbox"]) {
        --font-size: 16px; /* スクリーン幅が小さいときの基本サイズ */
        font-size: var(--font-size);
        line-height: calc(var(--font-size) + 2px);
    }

    label.toggle-switch > input[type="checkbox"] {
        font-size: 1.2em; /* フォントサイズを小さくする */
        width: 1.6em; /* 幅を小さくする */
        height: 0.8em; /* 高さを小さくする */
    }
    #unit_select {
        width: 50vw; /* モバイルの場合のセレクトボックスの幅を設定 */
        padding: 8px;
    }
    .selection-mode select,
    .selection-mode input,
    .selection-mode button {
        width: 50vw; /* モバイルの場合の幅を設定 */
        padding: 8px;
    }
}
