<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>青チャートランダム問題</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']],
                processEscapes: true
            },
            options: {
                skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
                ignoreHtmlClass: 'tex2jax_ignore',
                processHtmlClass: 'tex2jax_process'
            },
            chtml: {
                displayAlign: 'left'
            }
        };
    </script>
    <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <div class="outer-container">
        <div class="inner-container">
            <div class="container">
                <div id="login">
                    <h2>パスワードを入力してください</h2>
                    <input type="password" id="password" placeholder="パスワード">
                    <button onclick="checkPassword()">送信</button>
                </div>
                <div id="content" style="display: none;">
                    <h1 class="sample_h_21">青チャートランダム問題</h1>
                    <div class="tab-wrap">
                        <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" />
                        <label class="tab-label" for="TAB-01">ランダムモード</label>
                        <div class="tab-content">
                            <div class="content-and-sidebar">
                                <div class="main-content">
                                    <button class="center-align" onclick="getProblem()">問題を選ぶ</button>
                                    <p class="left-align">問題番号: <span id='problem_number'></span></p>
                                    <p class="error-message" id="error-message" style="display: none;">少なくとも1つの単元をチェックしてください。</p>
                                    <div id='equation_container' class="left-align word-wrap"></div>
                                    <div id='question1' class="left-align word-wrap"></div>
                                    <div id='question2' class="left-align word-wrap"></div>
                                    <div id='question3' class="left-align word-wrap"></div>
                                    <div id='question4' class="left-align word-wrap"></div>
                                </div>
                                <!-- 右側サイトコンテンツ -->
                                <aside>
                                    <p class="left-align">★単元を選択（現在数II、IIIの二つだけ）</p>
                                    <div class="accordion">
                                        <!-- アコーディオンアイテム1 -->
                                        <div class="accordion-item">
                                            <div class="title">
                                                <span class="title-text">数学IA</span>
                                                <div class="arrow-wrapper">
                                                    <i class="fa fa-angle-down"></i>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="content-text">
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数I数と式</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数I集合と命題</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数I2次関数</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数I図形と計量</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数Iデータの分析</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数A場合の数</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数A確率</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数A図形の性質</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数A数学と人間の活動</span></label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- アコーディオンアイテム2 -->
                                        <div class="accordion-item">
                                            <div class="title">
                                                <span class="title-text">数学IIBC</span>
                                                <div class="arrow-wrapper">
                                                    <i class="fa fa-angle-down"></i>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="content-text">
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数II式と証明</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数II複素数と方程式</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数II図形と方程式</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数II三角関数</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数II指数関数と対数関数</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数II微分法</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数II積分法</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数B数列</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数B統計的な推測</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数C平面上のベクトル</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数C空間のベクトル</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数C複素数平面</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数C式と曲線</span></label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- アコーディオンアイテム3 -->
                                        <div class="accordion-item">
                                            <div class="title">
                                                <span class="title-text">数学III</span>
                                                <div class="arrow-wrapper">
                                                    <i class="fa fa-angle-down"></i>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="content-text">
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数III関数</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数III極限</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数III微分法</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数III微分法の応用</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数III積分法</span></label>
                                                    <label class="toggle-switch"><input type="checkbox" class="unit-checkbox" checked><span class="slider"></span><span class="toggle-text">数III積分法の応用</span></label>
                                                </div>
                                            </div>
                                        </div>                                       
                                    </div>
                                    <p class="left-align">★難易度を限定</p>
                                </aside>
                            </div>
                        </div>
                        <input id="TAB-02" type="radio" name="TAB" class="tab-switch" />
                        <label class="tab-label" for="TAB-02">選択モード（数IIIだけ）</label>
                        <div class="tab-content">
                            <input type="number" id="problem_number_input" placeholder="問題番号を入力">
                            <button class="center-align" onclick="getSelectedProblem()">問題を表示</button>
                            <p class="left-align">問題番号: <span id='selected_problem_number'></span></p>
                            <div id='selected_equation_container' class="left-align word-wrap"></div>
                            <div id='selected_question1' class="left-align word-wrap"></div>
                            <div id='selected_question2' class="left-align word-wrap"></div>
                            <div id='selected_question3' class="left-align word-wrap"></div>
                            <div id='selected_question4' class="left-align word-wrap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>